@model LocalSpirits.Models.Comment.ReplyCreate


<script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $('#btnSubmit')

                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var activityId = target.attr("data-id");
                    var valdata = $("#form").serialize();
                    var fullUrl = '@Url.Action("PostComment", "Profile")';
                    $.ajax({
                        type: "POST",
                        url: fullUrl,
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: valdata,
                        success: function (objOperations) {
                            $("#totalReplies_" + activityId).html(objOperations);

                        }
                    })
                        .done(function (r) {
                            $("#reply_" + activityId).hide('');
                        })
                        .fail(function (r) {
                        });
                });

        });
   
    $(document).ready(function() {
        $("i[data-toggle='hide']")

            .css({ "cursor": "pointer" })
            .click(function (e) {
                var target = $(e.target);
                var commentId = target.attr("data-id");
                $("#comment_" + commentId).hide('');
            });
    });
</script>


@*@using (Ajax.BeginForm(null, new AjaxOptions
    {
        //Url = "/Profile/AddComment/",
        //HttpMethod = "POST",
        OnBegin = "hideComments",
        OnComplete = "refreshComments"
    }
    ))
    {*@
@*@Html.AntiForgeryToken()*@
<form id="form">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SenderFullName)
        @Html.HiddenFor(model => model.SenderUsername)
        @Html.HiddenFor(model => model.CommentID)
        @Html.HiddenFor(model => model.Created)

        <i class="glyphicon glyphicon-remove" data-toggle="hide"
           data-id="@Html.Raw(Model.CommentID)" style="font-size: 15px!important;"></i>
        <div class="form-group">

            @Html.LabelFor(model => model.ReplyContent, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ReplyContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" id="btnSubmit" value="Post Reply" class="btn btn-warning" data-id="@Html.Raw(Model.CommentID)" />
            </div>
        </div>
    </div>
</form>

@*}*@

