@model LocalSpirits.Models.Comment.CommentCreate


@*@using (Ajax.BeginForm(null,
    new AjaxOptions
    {*@
<!--HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "div-for-partial",
        OnSuccess = ,
        OnFailure = "postFailed"
    }))
{-->
<script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $('#btnSubmit')

                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var activityId = target.attr("data-id");  
                    var fullUrl = '@Url.Action("AddComment", "Profile")';
                    $('#form').submit();

                    $.ajax({
                        method: "POST",
                        url: fullUrl,
                        //url: "/api/Profile/" + activityId + "/Heart",
                        data: null,
                        success: function (objOperations) {
                            //$("#closeComment_"+activityId).html(objOperations);
                            $("#comment_" + activityId).hide('');
                        }
                    })
                        .fail(function (r) {
                            alert(r.status + r.responseText);
                        });
                });
        });
</script>



@using (Ajax.BeginForm(null, null))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SenderFullName)
        @Html.HiddenFor(model => model.SenderUsername)
        @Html.HiddenFor(model => model.FeedID)
        @Html.HiddenFor(model => model.Created)


        <div class="form-group">
            @Html.LabelFor(model => model.CommentContent, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CommentContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CommentContent, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnSubmit" value="Post Comment" class="btn btn-warning" data-id="@Html.Raw(Model.FeedID)" />
            </div>
        </div>
    </div>
}

@*}*@
