@model IEnumerable<LocalSpirits.Data.Notification>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ActivityFeedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recieved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.ActivityFeedID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recieved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
