@model IEnumerable<LocalSpirits.Models.Profile.ProfileDetail>

@{
    ViewBag.Title = "FriendsList";
}

@Html.Action("FriendRequests")

<h2>FriendsList</h2>

@if(Model.Count() != 0)
{
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink($"{item.FullName}", "Index", new { id = item.Username })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.ActionLink("Remove Friend", "RemoveFriend", new { id = item.Username })
            </td>
        </tr>
    }

</table>
}

