@model LocalSpirits.Models.Profile.ProfileDetail

@{
    ViewBag.Title = "Profile";
}
<div class="container col-md-pull-1 col-md-6">
    <div class="col-md-3 my-6">
        <img src="@Url.Content(Model.ProfilePicture)" width="125" height="125" />
    </div>
    <div class="col-md-3 my-6">
        <div class="panel panel-warning" style="width: 20rem;">

            <dl class="dl-horizontal">
                <dt class="profile">Name:</dt>
                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt>City:</dt>
                <dd>
                    @Html.DisplayFor(modelItem => modelItem.City)
                </dd>
                <dt>ZipCode:</dt>
                <dd>
                    @Html.DisplayFor(modelItem => modelItem.ZipCode)
                </dd>
                <dt>State:</dt>
                <dd>
                    @Html.DisplayFor(modelItem => modelItem.State)
                </dd>
                <dt>
                    @Html.ActionLink("Update Profile", "Edit")
                </dt>
            </dl>
        </div>
    </div>
</div>






<div class="row">
    <section class="col-md-8 col-xs-12">
        @Html.Partial("_CalendarPartialProfile")
    </section>
</div>