@model LocalSpirits.Models.Profile.ProfileDetail

@{
    ViewBag.Title = "Profile";
}

    <div class="panel panel-warning" style="width: 20rem;">

        <dl class="dl-horizontal">
            <dt class="profile">Name:</dt>
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>City:</dt>
            <dd>
                @Html.DisplayFor(modelItem => modelItem.City)
            </dd>
            <dt>ZipCode:</dt>
            <dd>
                @Html.DisplayFor(modelItem => modelItem.ZipCode)
            </dd>
            <dt>State:</dt>
            <dd>
                @Html.DisplayFor(modelItem => modelItem.State)
            </dd>
        </dl>
    </div>


<p>
    @Html.ActionLink("Update Profile", "Edit")
</p>

<div class="row">
    <section class="col-md-8 col-xs-12">
        @Html.Partial("_CalendarPartialProfile")
    </section>
</div>