@model LocalSpirits.Models.Profile.ProfileDetail

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>



<dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd>
        @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt>City:</dt>
    <dd>
        @Html.DisplayFor(modelItem => modelItem.City)
    </dd>
    <dt>State:</dt>
    <dd>
        @Html.DisplayFor(modelItem => modelItem.State)
    </dd>
    <dt>ZipCode:</dt>
    <dd>
        @Html.DisplayFor(modelItem => modelItem.ZipCode)
    </dd>
</dl>

<p>
    @Html.ActionLink("Update Profile", "Edit")
</p>
