@model LocalSpirits.Models.Profile.ProfileDetail

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

@Html.Action("CheckForFriend", "Friends")

<dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd>
        @Html.DisplayFor(model => model.Username)
    </dd>
    <dt>Name:</dt>
    <dd>
        @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt>City:</dt>
    <dd>
        @Html.DisplayFor(modelItem => modelItem.City)
    </dd>
    <dt>State:</dt>
    <dd>
        @Html.DisplayFor(modelItem => modelItem.State)
    </dd>
    <dt>ZipCode:</dt>
    <dd>
        @Html.DisplayFor(modelItem => modelItem.ZipCode)
    </dd>
</dl>

<p>
    @Html.ActionLink("Update Profile", "Edit")
</p>

<div class="row">
    <section class="col-md-6 col-md-push-0">
        @Html.Partial("_CalendarPartialFriend")
    </section>
</div>