@model LocalSpirits.Models.Event.EventDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.title)</h2>

<div>
    <div class="panel panel-warning" style="width: 30rem;">
        <div class="panel-heading">
            @Html.ActionLink($"{Model.Business}", "Details", "Business", new { id = Model.BusinessID }, null)
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal-business">

                <dd>
                    @Html.DisplayFor(model => model.start)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>


                <dd>

                    <a href="@(Model.ThirdPartyWebsite)">@(Model.ThirdPartyWebsite)</a>
                </dd>

            </dl>
        </div>
        @Html.Action("CheckIfOnCalendar", "Event", new { id = Model.id })
    </div>
</div>
