@model LocalSpirits.Models.Visited.VisitedDetail

@using (Html.BeginForm())
{
    <br />
    <br />
    <br />
    <br />
    @Html.AntiForgeryToken()
    <div class="panel panel-warning" style="width: 30rem;">
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.BusinessID)
                @Html.HiddenFor(model => model.EventID)
                @Html.HiddenFor(model => model.AddToFavorites)
                <div class="form-group">
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4 ">
                        @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Save" class="btn btn-warning btn-large" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

