@model LocalSpirits.Models.Business.BusinessDetail

@{
    ViewBag.Title = $"{Model.Name}";
}

<h2> @Html.DisplayFor(model => model.Name)</h2>

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="container">
        <div class="row my-5">

            <div class="col-sm-6 col-md-6 my-6">
                @Html.Action("CheckIfFollowing")
            </div>

            <div class="col-sm-6 col-md-6 my-6">
              
            </div>

        </div>
    </div>
    
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfEstablishment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEstablishment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.ActionLink($"{Model.City}", "Details", "City", new { id = Model.CityID }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.ActionLink($"{Model.State}", "State", "City", new { id = Model.State }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.ActionLink($"{Model.ZipCode}", "ZipCode", "City", new { id = Model.ZipCode }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Business", new { id = Model.ID }, null)
</p>
<p>
    @Html.ActionLink("Add Event", "Index", "Event", new { id = Model.ID }, null)
</p>

<div class="row">
    <section class="col-md-8 col-md-push-0">
        @Html.Partial("_CalendarPartialBusiness")
    </section>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
