@model LocalSpirits.Models.Business.BusinessDetail

@{
    ViewBag.Title = $"{Model.Name}";
}



@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<div class="container">
    <h2> @Html.DisplayFor(model => model.Name)</h2>
    @{
        if (Model.RateAverage == (decimal)5)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }
        else if (Model.RateAverage >= (decimal)4.25)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/HalfStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }
        else if (Model.RateAverage >= (decimal)4)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }
        else if (Model.RateAverage >= (decimal)3.25)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>

            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4 })'>
                <img src="~/assets/img/HalfStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a> }
        else if (Model.RateAverage >= (decimal)3)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>

            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4})'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }
        else if (Model.RateAverage >= (decimal)2.25)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/HalfStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>

            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4})'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }
        else if (Model.RateAverage >= (decimal)2)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>

            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4})'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }
        else if (Model.RateAverage >= (decimal)1.25)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/HalfStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>

            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4})'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }
        else if (Model.RateAverage >= (decimal)1.0)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>

            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4})'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }

        else if (Model.RateAverage == 0)
        {
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 1 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 2 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 3 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>

            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 4})'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
            <a href='@Url.Action($"AddRating/{Model.ID}", "Business", new { rating = 5 })'>
                <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
            </a>
        }
    }
    (@Model.RateCount) @{
        if (Model.RateCount > 0)
        {
            decimal a = Model.RateAverage; <span class="avr"> @a</span>


        }<br />
    }

    @if (Model.FollowByUser == true)
    {
        @Html.ActionLink("Stop Following", $"FollowBusiness/{Model.ID}", null, null, new { @class = "btn btn-warning btn-large" })
    }
    @if (Model.FollowByUser == false)
    {
        @Html.ActionLink("Follow", $"FollowBusiness/{Model.ID}", null, null, new { @class = "btn btn-warning btn-large" })

    }

    <br />
    <br />
    <div class="panel panel-warning" style="width: 27rem;">
        <div class="panel-heading">About</div>

        <dl class="dl-horizontal-business">


            <dd>
                @Html.DisplayFor(model => model.TypeOfEstablishment)
            </dd>



            <dd>

            </dd>

            <dd>
                @Html.ActionLink($"{Model.City}", "Details", "City", new { id = Model.CityID }, null)
            </dd>


            <dd>
                @Html.ActionLink($"{Model.State}", "State", "City", new { id = Model.State }, null)
            </dd>



            <dd>
                @Html.ActionLink($"{Model.ZipCode}", "ZipCode", "City", new { id = Model.ZipCode }, null)
            </dd>



            <dd>
                @Html.DisplayFor(model => model.Hours)
            </dd>



            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>



            <dd>

                <a href="@(Model.Website)">@(Model.Website)</a>
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning btn-large" })
    </p>
    <p>
        @Html.ActionLink("Add Event", "Create", "Event", new { id = Model.ID }, new { @class = "btn btn-warning btn-large" })
    </p>

    <div class="row">
        <section class="col-md-8 col-md-push-0">
            <div>
                @Html.ActionLink("All Events", $"Details/{Model.ID}", new { eventType = "" }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Karaoke", $"Details/{Model.ID}", new { eventType = "Karaoke" }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Trivia", $"Details/{Model.ID}", new { eventType = "Trivia" }, new { @class = "btn btn-danger btn-xs" })
                @Html.ActionLink("Live Music", $"Details/{Model.ID}", new { eventType = "Music" }, new { @class = "btn btn-primary btn-xs" })

            </div>
            @Html.Partial("_CalendarPartialBusiness")
        </section>
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


}

