@model IEnumerable<LocalSpirits.Models.ActivityFeed.ActivityFeedListItem>

@{
    ViewBag.Title = "HomeFeed";
}

<h2>HomeFeed</h2>



@foreach (var item in Model)
{
    <div class="card" style="width: 25rem;">
        <div class="card-body">

            @if (item.Activity == "Like")
            {
                <p class="card-text">
                    @Html.ActionLink($"{item.Name}", "Index", "Profile", new { id = item.Username }, null)
                    has liked
                    @Html.ActionLink($"{item.Content}", $"Details/{item.ObjectID}", $"{item.ObjectType}", new { id = item.ID }, null)
                </p>
            }
            @if (item.Activity == "AddToCalendar")
            {
                <p class="card-text">
                    @Html.ActionLink($"{item.Name}", "Index", "Profile", new { id = item.Username }, null)
                    has added
                    @Html.ActionLink($"{item.Content}", $"Details", $"{item.ObjectType}", new { id = item.ObjectID }, null)
                    to their calendar.
                </p>
            }
            @if (item.Activity == "Follow")
            {
                <p class="card-text">
                    @Html.ActionLink($"{item.Name}", "Index", "Profile", new { id = item.Username }, null)
                    has followed
                    @Html.ActionLink($"{item.Content}", $"Details", $"{item.ObjectType}", new { id = item.ObjectID }, null)
                </p>
            }
            @if (item.Activity == "NewEvent")
            {
                <p class="card-text">
                    @Html.ActionLink($"{item.Name}", "Index", "Profile", new { id = item.Username }, null)
                    has added
                    @Html.ActionLink($"{item.Content}", $"Details", $"{item.ObjectType}", new { id = item.ObjectID }, null)
                </p>
            }
        </div>
    </div>
}




