@model IEnumerable<LocalSpirits.Models.Business.BusinessListItem>

@{
    ViewBag.Title = $"{Model.ToList()[0].City}";
}


@foreach (var item in Model)
{
    <h2>
        @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.FullState)
    </h2>

    <div>
        @Html.ActionLink("All", $"Details/{item.CityID}/", new { type = "" }, new { @class = "btn btn-warning btn-xs" })
        @Html.ActionLink("Breweries", $"Details/{item.CityID}/", new { type = "Brewery" }, new { @class = "btn btn-warning btn-xs" })
        @Html.ActionLink("Distillaries", $"Details/{item.CityID}", new { type = "Distillery" }, new { @class = "btn btn-warning btn-xs" })
        @Html.ActionLink("Wineries", $"Details/{item.CityID}", new { type = "Winery" }, new { @class = "btn btn-warning btn-xs" })
        @Html.ActionLink("Bars", $"Details/{item.CityID}", new { type = "Bar" }, new { @class = "btn btn-warning btn-xs" })

    </div>
    break;
}


<p>
    @Html.ActionLink("Add Business", $"Create/{Model.ToList()[0].CityID}", "Business")
</p>
@if (Model.ToList()[0].ID != 0)
{



    foreach (var item in Model)
    {
        <div class="panel panel-warning" style="width: 25rem;">
            <div class="panel-heading">@Html.ActionLink($"{item.Name}", "Details", "Business", new { id = item.ID }, null)</div>
            <div class="panel-body">
                @{
                    if (item.RateAverage == 5)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                    else if (item.RateAverage >= (decimal)4.5)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/HalfStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                    else if (item.RateAverage >= 4)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                    else if (item.RateAverage >= (decimal)3.5)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/HalfStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                    else if (item.RateAverage >= 3)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                    else if (item.RateAverage >= (decimal)2.5)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/HalfStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                    else if (item.RateAverage >= 2)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                    else if (item.RateAverage >= (decimal)1.5)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/HalfStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                    else if (item.RateAverage >= 1)
                    {
                        <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }

                    else if (item.RateAverage == 0)
                    {
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                        <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    }
                }
                (@item.RateCount) @{if (item.RateCount > 0)
                    {
                        decimal a = @item.RateAverage; <span class="avr"> @a</span>

                    }
                }<br />
                @Html.DisplayFor(modelItem => item.TypeOfEstablishment)

            </div>
        </div>
    }
    <div class="row">
        <section class="col-md-8">
            @foreach (var item in Model)
            {
            <div>
                @Html.ActionLink("All Events", $"Details/{item.CityID}", new { eventType = "" }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Karaoke", $"Details/{item.CityID}", new { eventType = "Karaoke" }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Trivia", $"Details/{item.CityID}", new { eventType = "Trivia" }, new { @class = "btn btn-danger btn-xs" })
                @Html.ActionLink("Live Music", $"Details/{item.CityID}", new { eventType = "Music" }, new { @class = "btn btn-primary btn-xs" })
                
            </div>
            break;
            }
            @Html.Partial("_CalendarPartial")
        </section>
    </div>
}

