@model IEnumerable<LocalSpirits.Models.Business.BusinessListItem>

@{
    ViewBag.Title = $"{Model.ToList()[0].City}";
}


@foreach (var item in Model)
{
    <h2>
        @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.FullState)
    </h2>
    break;
}


<p>
    @Html.ActionLink("Add Business", $"Create/{Model.ToList()[0].CityID}", "Business")
</p>
@if (Model.ToList()[0].ID != 0)
{



    foreach (var item in Model)
    {
        <div class="panel panel-warning" style="width: 25rem;">
            <div class="panel-heading">@Html.ActionLink($"{item.Name}", "Details", "Business", new { id = item.ID }, null)</div>
            <div class="panel-body">
                @if (item.RateTotal == 5)
                {
                    <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    <img src="~/assets/img/FilledStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                }
                @if (item.RateTotal == 0)
                {
                    <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                    <img src="~/assets/img/EmptyStar.png" alt="Star Rating" align="middle" width="30" height="30" />
                }

                (@item.RateCount) @{if (item.RateCount > 0)
                    {
                        decimal a = @item.RateTotal / @item.RateCount; <span class="avr"> @a</span>

                    }
                }<br />
                @Html.DisplayFor(modelItem => item.TypeOfEstablishment)

            </div>
        </div>
    }
    <div class="row">
        <section class="col-md-8 col-md-push-0">
            @Html.Partial("_CalendarPartial")
        </section>
    </div>
}
<script type="text/javascript">


    $(function () {
        $("img.rating").mouseover(function () {
            giveRating($(this), "FilledStar.png");
            $(this).css("cursor", "pointer");
        });
        $("img.rating").mouseout(function () {
            giveRating($(this), "EmptyStar.png");
            refilRating($(this));
        });

        $("img.rating").click(function (e) {
           // $("img.rating").unbind("mouseout mouseover click");
            $(this).css('color', 'red');
           // alert(e.currentTarget + ' was clicked!');
            // call ajax methods to update database
            var url = "/Movies/PostRating?rating=" + parseInt($(this).attr("id")) + "&mid=" + parseInt($(this).attr("mid"));
            $.post(url, null, function (data) {
                $(e.currentTarget).closest('tr').find('div.result').text(data).css('color','red') // $("#result").text(data);
            });
        });
    });

    function giveRating(img, image) {
        img.attr("src", "/assets/img/" + image)
            .prevAll("img.rating").attr("src", "/assets/img" + image);
    }
    function refilRating(img1)
    {
        var rt = $(img1).closest('tr').find("span.avr").text();
        var img = $(img1).closest('tr').find("img[id='" + parseInt(rt) + "']");
        img.attr("src", "assets/img/FilledStar.png").prevAll("img.rating").attr("src", "assets/img/FilledStar.png");
    }

</script>
