@model IEnumerable<LocalSpirits.Models.Business.BusinessListItem>

@Html.ActionLink("Add City", "Create")
@foreach (var item in Model)
{
    ViewBag.Title = $"{item.State}";
    break;
}

@foreach (var item in Model)
{
    <h2>
        @Html.DisplayFor(modelItem => item.FullState)
    </h2>
    break;
}

@foreach (var item in Model)
{
    <div class="panel panel-warning" style="width: 25rem;">
        <div class="panel-heading">@Html.ActionLink($"{item.Name}", "Details", "Business", new { id = item.ID }, null)</div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => item.Rating)
            <br />
            @Html.DisplayFor(modelItem => item.TypeOfEstablishment)
            <br />
            @Html.ActionLink($"{item.City}", "Details", new { id = item.ID })
            <br />
            @Html.ActionLink($"{item.ZipCode}", "ZipCode", new { id = item.ZipCode })

        </div>
    </div>
}


