@model IEnumerable<LocalSpirits.Models.Business.BusinessListItem>
@{
    ViewBag.Title = $"{Model.ToList()[0].ZipCode}";
}


@foreach (var item in Model)
{
    <h2>
        @Html.DisplayFor(modelItem => item.ZipCode)
    </h2>
    break;
}


<p>
    @Html.ActionLink("Add Business", $"Create/{Model.ToList()[0].CityID}", "Business")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEstablishment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink($"{item.Name}", "Details", "Business", new { id = item.ID }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfEstablishment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink($"{item.City}", "Details", new { id = item.CityID })
            </td>
            <td>
                @Html.ActionLink($"{item.State}", "State", new { id = item.State })
            </td>
        </tr>
    }

</table>
<div class="row">
    <section class="col-md-6 col-md-push-0">
        @Html.Partial("_CalendarPartial")
    </section>
</div>


